<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <script src="/main.js"></script>
    <title>Numerofag</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body onload="main.init(28, 28, 10, 15);">
    <div>
        <a href="/"><h3>Mnist Demo Project</h3></a>
        <div style="display: flex; justify-content: space-between   ">
            <div>
                <h3 id="answer" align="center">Draw Your Digit</h3>
                <canvas id="inputCanvas" width="280" height="280" style="border:1px solid #000000;"
                        onmousemove="main.onMouseMove(event);">
                </canvas>
                <canvas id="previewCanvas" width="28" height="28" style="border:1px solid #000000;">
                </canvas>
                <br/>
                <button onclick="main.eval();">EVAL</button>
                <button onclick="main.clear();">CLEAR</button>
            </div>
            <div>
                <h3 th:text="${modelName}">model name</h3>
                <table style="margin: 1em; padding: 1em;">
                    <caption><h3>Probabilities</h3></caption>
                    <tbody>
                        <tr>
                            <td>ZERO: </td>
                            <td><b id="probability-for-0">0.000</b></td>
                        </tr>
                        <tr>
                            <td>ONE: </td>
                            <td><b id="probability-for-1">0.000</b></td>
                        </tr>
                        <tr>
                            <td>TWO: </td>
                            <td><b id="probability-for-2">0.000</b></td>
                        </tr>
                        <tr>
                            <td>THREE: </td>
                            <td><b id="probability-for-3">0.000</b></td>
                        </tr>
                        <tr>
                            <td>FOUR: </td>
                            <td><b id="probability-for-4">0.000</b></td>
                        </tr>
                        <tr>
                            <td>FIVE: </td>
                            <td><b id="probability-for-5">0.000</b></td>
                        </tr>
                        <tr>
                            <td>SIX: </td>
                            <td><b id="probability-for-6">0.000</b></td>
                        </tr>
                        <tr>
                            <td>SEVEN: </td>
                            <td><b id="probability-for-7">0.000</b></td>
                        </tr>
                        <tr>
                            <td>EIGHT: </td>
                            <td><b id="probability-for-8">0.000</b></td>
                        </tr>
                        <tr>
                            <td>NINE: </td>
                            <td><b id="probability-for-9">0.000</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>